---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.site-title::before {
	content: url("logo.png");
	display: inline-block;
    position: relative;
    top: 5px;
    padding-right: 10px;
}